body {
    background-color: lightgray;
    border: double;
}

ul {
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    font-size: larger;
}

li {
    display: inline;
    margin: 0px 3px;
}

img {
    height: 150px;
    width: 200px;
}

p {
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
}